@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?75541176');
  src: url('../font/fontello.eot?75541176#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?75541176') format('woff'),
       url('../font/fontello.ttf?75541176') format('truetype'),
       url('../font/fontello.svg?75541176#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?75541176#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  display: inline;
  font-style: normal;
  font-weight: normal;
  font-family: "fontello";
  font-variant: normal;
  text-transform: none;
  text-decoration: inherit;
}

.icon-home:before { content: '\e802'; } /* '' */
.icon-right-dir:before { content: '\e801'; } /* '' */
.icon-left-dir:before { content: '\e800'; } /* '' */
