extends layout

block content
  each file in paginate.files
    article.content-article
      header.content-header
        small.header-metadata
          span.timestamp= moment(file.date).format('MMMM D, YYYY')
        h2.content-title
          a(href='/' + file.path)= file.title
      section.content!= file.snippet
  nav.navigation.cf
    if paginate.previous
      a.btn.navigation-next(href='/' + paginate.previous.path)
        | Newer&nbsp;&nbsp;
        i.icon-right-dir
    if paginate.next
      a.btn.navigation-prev(href='/' + paginate.next.path)
        i.icon-left-dir
        | &nbsp;&nbsp;Older
