extends layout

block content
  != page.html
  - var archive = _.chain(contents.articles._.directories).map(function(item) {
  -   return item.index
  - }).compact().sortBy(function(item) {
  -   return -item.date
  - }).value()
  - var map = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

  section.archive
    ul.posts
      each article in archive
        li.post.cf
          a(href=article.url)
            time.date(datetime=article.date.toISOString())
              = article.date.getFullYear()
              strong= ' ' + map[article.date.getMonth()]
            = article.title